.mr-5{
    margin-right: 10px;
  }
  .mr-6{
    margin-left: -20px;
  }
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  ion-toolbar {
    --background: #0f0f5e;
    color: white;
  }
 ion-card{
  --background: blue($color: #000000);
 }
  
  // <div>
  //   <h2 class="mb-2">Attendance Details</h2>
  //   <p><ion-icon name="time-outline" class="icon"></ion-icon><span class="ml-2">InTime:</span> <span class="fw-bold">${event.inTime}</span></p>
  //   <p><ion-icon name="document-text-outline" class="icon"></ion-icon><span class="ml-2">InDesc:</span> <span class="fw-bold">${event.Indesc}</span></p>
  //   <p><ion-icon name="time-outline" class="icon"></ion-icon><span class="ml-2">OutTime:</span> <span class="fw-bold">${event.outTime}</span></p>
  //   <p><ion-icon name="document-text-outline" class="icon"></ion-icon><span class="ml-2">OutDesc:</span> <span class="fw-bold">${event.Outdesc}</span></p>
  // </div>sdsadsadas