
  .mr-6{
    margin-left: -20px;
  }
  .mr-2 {
    margin-right: 0.5rem;
  }
  
  .mb-1 {
    margin-bottom: 0.5rem;
  }
  ion-toolbar {
    --background: #0f0f5e;
    color: white;
  }
 ion-card{
  --background: blue($color: #000000);
 }
  
 .margin{
  margin-left: 5px;
 }
 ion-content {
  --background: url('/assets/images/image.png');
  // --background-size: cover;
}