ion-item{
    padding-block: 5px;
    padding-inline: 5px; 
    --background:white;
    color:black;
}
ion-button{
  --background: #d07d1c;
--border-radius: 100px;
width: 300px;
height: 50px;
margin-left: 40px;
margin-top: 20px;
}
.my-input {
    border-radius: 30px;
    --border-color:#b063e05c;
    --border-width: 2px;
}
ion-content {
  --background: white; 
}
ion-card{
--background: #0f0f5e;
// --background: -webkit-linear-gradient(26deg, #c6c8f3 0%, #be56fb 100%);
// --background: linear-gradient(26deg, #c6c8f3 0%, #b167df9c 100%);
padding-top: 20px;
  margin-left: -20px;
    width: 420px;
    height: 510px;
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-bottom: -30px;
    // --background: url('/assets/images/animation.svg');
}
.mr-5{
  margin-right: 10px;
}

ion-toolbar {
  --background: #0f0f5e;
  color: white;
}



.item-native {
  --native-padding-left: 16px;
  border-radius: 16
px
;
}