<ion-header>
  <script type="text/javascript" src="cordova.js"></script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>BACK</ion-back-button>
    </ion-buttons>
    <ion-title>Employee Enrollment</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-card class="item-inner" *ngFor="let i of employeeList">
    <ion-item>
      <ion-label>
      <ion-avatar slot="start">     
        <ion-icon class="icon" name="person-circle"></ion-icon>
      </ion-avatar>
      <div>
        <h2>Name:- {{i.FirstName}} {{i.LastName}}</h2>
        <p>Email:- {{i.Email}}</p>
      </div></ion-label>
      <ion-button size="large" slot="end" fill="clear" (click)="onNavigate(i.EmployeeId)">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
      
    </ion-item>
  </ion-card>
  <ion-infinite-scroll>
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  <!-- <ion-infinite-scroll  (ionInfinite)="showData()" >
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <!-- <h1>Employee List</h1>
  <ion-item *ngFor="let i of employeeList"  
  (click)="onNavigate(i.EmployeeId)">
    <p>Firstname:-{{i.FirstName}}</p><br>
    <h5>Lastname:-{{i.LastName}}</h5>
    <h4>employeeid:{{i.EmployeeId}}</h4>
  </ion-item > -->
  <!-- <ion-infinite-scroll (ionInfinite)="loadData(true)" >
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>