ion-content {
    --background: #0e0e23; 
}
  ion-toolbar {
    --background:#1e90ff ;
}
ion-card{
  border-radius: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  // --background:#800080;
}
.icon {
  font-size: 3em;
}