// ion-toolbar{
//     --ion-background-color:white ;
//     --ion-text-align:center;

// }
// ion-title{
//     text-align:center;
// }
// .wrapform{
//     margin-top: 30px;
// }
// .sign-btn-wrap{xzczxcc
//     text-align: center;
//     padding-top: 30px;
// }
// ion-card{
//     --ion-background-color:transparent;
//     box-shadow: none !important;
// }
// .tab1 {
//     tab-size: 2;
// }
// .mr-5{
//     margin-right: 10px;
// }
ion-button {
  --background: #d07d1c;
  --border-radius: 100px;
  height: 50px;
  margin-top: 20px;
}

.my-input {
  border-radius: 30px;
  --border-color: #1e90ff;
  --border-width: 2px;
}

ion-toolbar {
  --background: #1e90ff;
}

ion-card {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  --background: white;
}

.mr-5 {
  margin-right: 10px;
}


ion-content {
  --background: url('/assets/images/Hexagon.svg');
}

.card-bottom {
  position: relative;
  height: 550px;
  padding: 20px;
}

.my-scrollable-element {
  overflow: hidden;
}

ion-item {
  --border-color: #0f0f5e;
  --border-width: 2px;
  margin-top: 30px;
  --background: #56494900;
}

.logo {
  height: 100px;
  width: 170px;
  margin-top: -19px;
}

.eye {
  margin-top: 5px;
  width: 23px;
}
