<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-center"><b>Login Here!!</b></ion-title>
    <ion-badge class="ion-padding" shape="round" slot="end" (click)="onBadgeClick()">Skip</ion-badge>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <p align="center"><ion-img src="assets/images/hrms.svg" height="55px" class="ion-padding-bottom"></ion-img></p>
  <ion-card class="ion-padding">
    <ion-item class="ion-padding" shape="round" lines="full" fill="outline">
      <ion-icon name="mail-outline" class="mr-5"></ion-icon>
      <ion-input type="text" class="my-input" placeholder="Enter Email" [(ngModel)]="username" required></ion-input>
    </ion-item>
    <ion-item class="ion-padding" shape="round" lines="full" fill="outline" >
      <ion-icon name="lock-closed-outline" class="mr-5"></ion-icon>
      <ion-input placeholder="Enter Password" class="my-input" [type]="passwordType" [(ngModel)]="password"required></ion-input>
      <a class="type-toggle" (click)="togglePassword()">
        <ion-icon size="large" class="show-option" [hidden]="passwordShown" name="eye-off-outline" class="ion-padding-top"></ion-icon>
        <ion-icon size="large" class="hide-option" [hidden]="!passwordShown" name="eye-outline" class="ion-padding-top"></ion-icon>
      </a>
    </ion-item>
  </ion-card>
    <div class="ion-padding-top">
      <ion-button size="large" fill="solid" shape="round" type="submit" expand="block" (click)="onSubmit()"><ion-icon name="person-circle-outline" class="mr-5"></ion-icon>
        Login</ion-button>
    </div> 
</ion-content>