// ion-content {
//   --background: url('/assets/images/final.svg') no-repeat 100% 100%;
//   --background-size: cover;
// }

ion-button{
  --background:#1e90ff ;
  // --background:rgba(253, 108, 106, 1);
}
ion-content {
  --background: #0e0e23; 
}
ion-toolbar {
  --background:#1e90ff ;
}
.card{
  font-size: 20px;
}

ion-card{
  border-radius: 20px;
  // --background:#800080;
}
.mr-5{
  margin-right: 10px;
}
ion-label {
  --font-color: black;
  --font-weight: 100;
  font-size: large;
}

ion-toolbar {
  --background: linear-gradient(180deg, rgba(12, 62, 120, 0.81) 0%, rgba(35, 166, 239, 0.81) 99.98%, rgba(9, 51, 135, 0.453094) 99.99%, rgba(5, 37, 153, 0) 100%);
  --border-radius: 100px;
  color: white;
}
