<ion-header>
  <script type="text/javascript" src="cordova.js"></script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>BACK</ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content>
  <h1>Attendance Details</h1>
  <ion-item *ngFor="let i of attendanceList">
    <p>{{i.Discription}}</p>
    <h5>{{i.Date}}</h5>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="loadData(true)" >
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content> -->
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content class="card">
      <ion-label class="ion-text-center"><b>Employee Attandance</b></ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch In</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="details">
        <!-- <ion-thumbnail slot="end">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail> -->
        <!-- <ion-label><h2><ion-icon name="calendar-outline" class="mr-5" size="large"></ion-icon>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal></h2><br>
          <h2><ion-icon name="alarm-outline" class="mr-5" size="large"></ion-icon><ion-datetime-button datetime="time" color="" > </ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime disabled presentation="time" [showDefaultButtons]="true" displayFormat="hh:mm A"  id="time"  name="InTime" required [(ngModel)]="details.InTime"></ion-datetime>
             </ng-template>
            </ion-modal>
          </h2>
        </ion-label> -->
        <p>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal>
        </p>
        <h2>
          <ion-datetime-button datetime="datetime1" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
              disabled 
              presentation="time" 
              [showDefaultButtons]="true"
              id="datetime1"  
              name="InTime" 
              required 
              [(ngModel)]="punchIntime"></ion-datetime>
           </ng-template>
          </ion-modal>
       </h2>
      </ion-item>  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch out</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="details">
        <p>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal>
        </p>
        <h2>
          <ion-datetime-button datetime="datetime" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
              disabled 
              presentation="time" 
              [showDefaultButtons]="true"
              id="datetime"  
              name="OutTime" 
              required 
              [(ngModel)]="punchOutTime"></ion-datetime>
           </ng-template>
          </ion-modal>
       </h2>
      </ion-item>  
    </ion-card-content>
  </ion-card>
</ion-content>
 <!-- {{ details?.OutHours  % 12 }}:{{ details?.OutMinutes }}:{{ details?.OutSeconds }}:{{ details.OutHours < 12 ? 'AM' : 'PM'}}
          {{ details?.year }}-{{ details?.month }}-{{ details?.day }} -->