<ion-header>
  <script type="text/javascript" src="cordova.js"></script>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>BACK</ion-back-button>
    </ion-buttons>
    <ion-title>Attendance</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content>
  <h1>Attendance Details</h1>
  <ion-item *ngFor="let i of attendanceList">
    <p>{{i.Discription}}</p>
    <h5>{{i.Date}}</h5>
  </ion-item>
  <ion-infinite-scroll (ionInfinite)="loadData(true)" >
    <ion-infinite-scroll-content loadingText="Please wait..." loadingSpinner="bubbles"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content> -->
<ion-content class="ion-padding">
  <ion-card>
    <ion-card-content class="card">
      <ion-label class="ion-text-center"><b>Employee Attandance</b></ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch In</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="end">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label><h5><ion-icon name="calendar-outline" class="mr-5" size="large"></ion-icon></h5><br>
          <p><ion-icon name="alarm-outline" class="mr-5" size="large"></ion-icon></p>
        </ion-label>
      </ion-item>  
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch out</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-thumbnail slot="end">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail>
        <ion-label><h5><ion-icon name="calendar-outline" class="mr-5" size="large"></ion-icon></h5><br>
          <p><ion-icon name="alarm-outline" class="mr-5" size="large"></ion-icon></p>
        </ion-label>
      </ion-item>  
    </ion-card-content>
  </ion-card>
  <div>
    <ion-button size="large" class="button" type="submit" shape="round" expand="block">Get Location</ion-button>
  </div>
</ion-content>
