/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "../node_modules/bootstrap/scss/bootstrap";

@import 'swiper/scss';
@import '@ionic/angular/css/ionic-swiper';

.spinner {
    width: 56px;
    height: 56px;
    // height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
    
  }
  .custom-loading{
    --background: none ;
    box-shadow: none;
  }
  
  .spinner::before,
  .spinner::after {
    border: 6.7px solid #474bff;
    border-radius: 50%;
    position: absolute;
    content: '';
    display: block;
  }
  
  .spinner::before {
    width: 33.6px;
    height: 33.6px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: spinner-1o3y8q 0.75s infinite linear reverse;
  }
  
  .spinner::after {
    animation: spinner-1o3y8q 0.5s infinite linear;
    height: 56px;
    width: 56px;
    border-right-color: transparent;
    border-top-color: transparent;
  }

  @keyframes spinner-1o3y8q {
    to {
       transform: rotate(360deg);
    }
  }
  .loading-wrapper.sc-ion-loading-md {
    border-radius: 2px;
    --background: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
     -webkit-box-shadow: none !important;
    box-shadow:  none !important;
}