
ion-toolbar {
  --background: #0f0f5e;
  color: white;
}
ion-content{
  // --background: #e3edf7;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  --background: url('/assets/images/image.png');
}
ion-card{
  border-radius: 10px;
  box-shadow: 0px 0px 18px 3px #b4b4eb;
}
.cardxyz{
  width: 50%;
  margin-left: 30px;
}
.cardxyz1{
  // width: 50%;
  color: rgb(152, 207, 189);
}
.canvas{
height: 50px;
width: 50px;
}
.icon {
  font-size: 5em;
}
.chart-title {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  font-size: 18px;
}

// .skill{
//   width: 160px;
//   height: 160px;
//   position: relative;
// }
// .outer{
//   height: 160px;
//   width: 160px;
//   border-radius: 50%;
//   padding: 20px;
//   box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.15),
//               -6px -6px 10px -1px rgba(255,255,255,0.7); 
// }
// .inner{
//   height: 120px;
//   width: 120px;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   box-shadow: inset 4px 4px 6px -1px rgba(0,0,0,0.2),
//               inset -4px -4px 6px -1px rgba(255,255,255,0.7),
//               -0.5px -0.5px 0px rgba(0,0,0,0.15),
//               0.5px 0.5px 0px rgba(0,0,0,0.15),
//               0px 12px 10px -10px rgba(0,0,0,0.05);
// }
// #number{
//   font-weight: 600;
//   color: #555;
// }

// circle{
//   fill: none;
//   stroke: url(#GradientColor);
//   stroke-width: 20px;
//   stroke-dasharray: 472;
//   stroke-dashoffset: 472;
//   animation: anim 2s linear forwards;
// }
// svg{
//   position: absolute;
//   top: 0;
//   left: 0;
// }
// @keyframes anim{
//   100%{
//     stroke-dashoffset: 0;
//   }
// }
.card-canvas{
  position: relative;
  // width: 300px;
}