<ion-header>
  <script type="text/javascript" src="cordova.js"></script>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    
      <!-- <ion-icon size="large" (click)="showRoles()" name="ellipsis-vertical-outline" slot="end"></ion-icon> -->
      <!-- <ion-buttons slot="end">
        <ion-icon  id="role" name="ellipsis-vertical" slot="icon-only" (click)="roles()" ></ion-icon>
      </ion-buttons> -->

      <ion-buttons slot="end">
        <ion-icon id="role" name="ellipsis-vertical" slot="icon-only"  ></ion-icon>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-popover trigger="role">
    <ng-template >
      <ion-content>
        <ion-radio-group [(ngModel)]="selectedRole" (ionChange)="setActiveRole($event)">
          <ion-item *ngFor="let role1 of employee">
            <ion-label>{{role1.UserRoleName}}</ion-label>
            <ion-radio slot="start" [value]="role1.RoleId"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-content>
    </ng-template>
</ion-popover>
  
    <!-- <ion-popover>
    <ion-radio-group [(ngModel)]="selectedRole">
      <ion-item *ngFor="let role of roles">
        <ion-label>{{role.Name}}</ion-label>
        <ion-radio slot="end" [value]="role.id"></ion-radio>
      </ion-item>
    </ion-radio-group>
    </ion-popover> -->
   <ion-card>
    <ion-card-content class="card">
      <ion-label><h2 class="ion-text-center" style="color: black;">Employee Attandance Details</h2></ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header class="ion-text-center">
     Attendance Progress
    </ion-card-header>
    <ion-card-content>
      <!-- <canvas #doughnutCanvas style="position: relative; height:50px; width:50px"></canvas>
      <span id="remainingTime"></span> -->
      <div style="position: relative;">
        
        <canvas #doughnutCanvas ></canvas>
        <div style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
          <span id="remainingTime" style="font-size: 18px; color: black;"></span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch In</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-item *ngIf="details">
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal>
          <ion-datetime-button datetime="datetime1" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
              disabled aria-readonly="true"
              displayFormat="h:mm A"
              presentation="time" 
              [showDefaultButtons]="true"
              id="datetime1"  
              name="InTime" 
              required 
              [(ngModel)]="punchIntime"></ion-datetime>
           </ng-template>
          </ion-modal>
       <ion-icon class="icon" name="arrow-back-circle-outline" slot="end" size="large"></ion-icon>  
      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card class="cardxyz1">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch out</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="details">
        <p>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal>
        </p>
        <h2>
          <ion-datetime-button datetime="datetime" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
              disabled 
              presentation="time" 
              [showDefaultButtons]="true"
              id="datetime"  
              name="OutTime" 
              required 
              [(ngModel)]="punchOutTime"></ion-datetime>
           </ng-template>
          </ion-modal>
       </h2>
       <ion-icon class="icon" name="arrow-forward-circle-outline" slot="end" size="large"></ion-icon>
      </ion-item>  
    </ion-card-content>
  </ion-card>

  

  
</ion-content>
