<ion-header>
  <script type="text/javascript" src="cordova.js"></script>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="card">
      <ion-label><h2 class="ion-text-center" style="color: black;">Employee Attandance Details</h2></ion-label>
    </ion-card-content>
  </ion-card>
  <ion-card class="card">
    <ion-card-header class="ion-text-center">
     Attendance Progress
    </ion-card-header>
    <ion-card-content class="card-canvas">
      <!-- <canvas #doughnutCanvas style="position: relative; height:50px; width:50px"></canvas>
      <span id="remainingTime"></span> -->
      <div style="position: relative;">
        <canvas #doughnutCanvas style="width: 200px;"></canvas>
        <div style="position: absolute; top: 55%; left: 50%; transform: translate(-50%, -50%); text-align: center;">
          <span id="remainingTime" style="font-size: 18px; color: black;"></span>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch In</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-center">
      <ion-item *ngIf="details">
        <!-- <ion-thumbnail slot="end">
          <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
        </ion-thumbnail> -->
        <!-- <ion-label><h2><ion-icon name="calendar-outline" class="mr-5" size="large"></ion-icon>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal></h2><br>
          <h2><ion-icon name="alarm-outline" class="mr-5" size="large"></ion-icon><ion-datetime-button datetime="time" color="" > </ion-datetime-button>
            <ion-modal [keepContentsMounted]="true">
              <ng-template>
                <ion-datetime disabled presentation="time" [showDefaultButtons]="true" displayFormat="hh:mm A"  id="time"  name="InTime" required [(ngModel)]="details.InTime"></ion-datetime>
             </ng-template>
            </ion-modal>
          </h2>
        </ion-label> -->
        <p>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal>
        </p>
        <h2>
          <ion-datetime-button datetime="datetime1" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
              disabled 
              presentation="time" 
              [showDefaultButtons]="true"
              id="datetime1"  
              name="InTime" 
              required 
              [(ngModel)]="punchIntime"></ion-datetime>
           </ng-template>
          </ion-modal>
       </h2>
      </ion-item>  
    </ion-card-content>
  </ion-card>
  <ion-card class="cardxyz">
    <ion-card-header>
      <ion-card-title class="ion-text-center">Punch out</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item *ngIf="details">
        <p>
          <ion-datetime-button datetime="date" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime disabled presentation="date" [showDefaultButtons]="true" displayFormat="YYYY-DD-MM"  id="date"  name="dob" required [(ngModel)]="details.Date"></ion-datetime>
           </ng-template>
          </ion-modal>
        </p>
        <h2>
          <ion-datetime-button datetime="datetime" color="" > </ion-datetime-button>
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime 
              disabled 
              presentation="time" 
              [showDefaultButtons]="true"
              id="datetime"  
              name="OutTime" 
              required 
              [(ngModel)]="punchOutTime"></ion-datetime>
           </ng-template>
          </ion-modal>
       </h2>
      </ion-item>  
    </ion-card-content>
  </ion-card>

  

  
</ion-content>
